.contenaire-body {
  display: flex;
  height: 80h;
  justify-content: center;
  text-align: center;
  right: 20%;

  img {
    height: 30rem;
    width: 25vw;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    border-radius: 25px;
  }
}

.titre-image-container {
  top: 2rem;
}

.titre-body {
  font-size: 1.25rem;
  height: 3rem;
}

.image-body-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* présentation en dessous des images */
.contenaire-titre-pres {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.titre-prestations {
  display: flex;

  height: 1.5rem;
  font-size: 1.5rem;
}

.contenaire-presentation {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  height: 70vh;
  width: 100%;
}

.p-prestation {
  font-size: 3rem;
}

.img-texte-accueil {
  height: 47vh;
  width: 34vw;
  right: 2%;
}

.nosservices {
  display: flex;
}

.liste-nonordonée-services {
  display: flex;
  right: 61%;
  top: 40%;
}

.p-listeervices {
  display: flex;
  right: 32%;
  top: 40%;
}
