.contenaire-body {
  display: flex;
  height: 90vh;
  justify-content: center;
  text-align: center;
  right: 20%;
  img {
    height: 30rem;
    width: 25vw;
    justify-content: center;
    /* object-fit: cover; */
    margin: auto;
    gap: 1rem;
    border-radius: 25px;
  }
}

.titre-image-container {
  margin-top: 30px;
}

.titre-body {
  font-size: 1.25rem;
  height: 6rem;
}

.image-body-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
