.contenaire-body {
  display: flex;
  height: 42vh;
  justify-content: center;
  text-align: center;
  right: 20%;
  img {
    height: 30rem;
    width: 25vw;
    justify-content: center;
    /* object-fit: cover; */
    margin: auto;
    gap: 1rem;
    border-radius: 25px;
  }
}

.titre-image-container {
  top: 2rem;
  height: 3rem;
}

.titre-body {
  font-size: 1.25rem;
  height: 6rem;
}

.image-body-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* présentation en dessous des images */
.contenaire-presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.titre-prestations {
  font-size: 1.5rem;
  width: 44rem;
  height: 1.5rem;
  /* bottom: 20rem; */
}

.img-texte-accueil {
  position: relative;
  /* height: 30rem; */
  width: 25vw;
  right: 1rem;
}
