.blanc-header {
  display: flex;
  width: 100%;
  height: 108px;
  margin-top: -1rem;
}

.logo {
  width: 100px;
  padding-top: 1rem;
  height: 83px;
  position: absolute;
}

.numero-tel {
  margin-top: 3rem;
  margin-left: 48rem;
  height: 29px;
  width: 129px;
}

.bouton-header {
  margin-top: 2rem;
  text-decoration: none;
  margin-left: 50rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  background-color: #d9d9d9;
}

.bandeau-gris {
  display: flex;
  position: absolute;
  width: 100%;
  height: 78.38px;
  margin-top: 6.8rem;
  background-color: #525252;
  left: 0;
}

.Lavage-intérieur-header {
  padding-left: 35rem;
  padding-top: 1rem;
  color: white;
}

.lavage-extérieur-header {
  padding-top: 1rem;
  padding-left: 12rem;
  color: white;
}

.nettoyage-mobilier-header {
  padding-top: 1rem;
  padding-left: 11rem;
  color: white;
}

.background-header {
  display: flex;
  width: 100%;
  height: 423px;
  margin-top: 11.6rem;
  margin-left: 25rem;
}

.image-background {
  margin-top: 11.7rem;
  left: 0;
  position: absolute;
  width: 100%;
  height: 423px;
}
/* je commence la partie bleu la  */
.blue-header {
  display: flex;
  width: 100%;
  height: 63px;
  background-color: #00a3ff;
  margin-top: 34.2rem;
  left: 0;
  position: absolute;
  opacity: 40%;
}
/* les ecriture sur le background bleu !! */

.lav-blue {
  color: white;
  position: absolute;
  margin-top: 35.5rem;
  margin-left: 10rem;
}
.ext-blue {
  color: white;
  position: absolute;
  margin-top: 35.5rem;
  margin-left: 55rem;
}

.mobilier-blue {
  color: white;
  position: absolute;
  margin-top: 35.5rem;
  margin-left: 87rem;
}
